.game{
    width: 255px;
    text-align: center;
    font-family: system-ui;
    color: #fff;
    margin: auto;
    font-weight: 500;
}
.title{
    background: rgb(142, 23, 112);
    padding: 5px 0;
    margin: 5px 0;
}
span{
    color: rgb(27, 27, 244);
}
.square{
    width: 80px;
    height: 80px;
    background: rgb(142, 23, 112);
    float: left;
    margin: 2px;
    font-size: 50px;
}
.square:hover{
    background-color: rgb(250, 184, 235);
    cursor: pointer;
}